* {
  box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: white;
  /*   background-image: url("/static/resources/images/fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px); */
    background-color: #212121;
    height: 100vh;
    margin: 0;
    padding: 0;

}

header{
    margin: 0;
    padding: 0;
    width: 25%;
    height: 15vh;
    display: flex;

    justify-content:flex-start;
    /* box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.8); */
}

div{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.title-header{
    margin-left: 1vw;
}

.title{
    text-align: center;


}
.saldo{
    text-align: center;
}

.container{
    position: relative;
    display: block;
    height: 90vh;
    background-color: #343434;

    width: 20%;
    padding-top: 20px;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    display: flex;
}

.button{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: white;
    background-color: #343434;
    border:none;
    width: 100%;
    height: 5vh;
    border-radius: 0px 20px 20px 0px;

}

p{
    color: gray;
    margin-left: 1vw;
}

.button:hover{
    cursor: pointer;
   background-color: #067247;
}

.button:active{
    background-color: #034d2f;
}

.button.active{
    background-color: #045D39;
}

span{
    display: flex;
}

.screen{
    height: 85vh;
    width: 80vw;
    align-items: center;
    
}

/*pantalla deposito*/
.container-deposito{
    display: flex; 
    height: 100%;
    width: 90%;
    margin-left: 10%;
}

.container-deposito p{
    font-size: 1.5em;
}

.container-metodos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #343434;
}

.metodo{
    width: 15vw;
    height: 15vw;
    margin: 1vw 1vw 1vw 1vw;
}

.metodo img{
    width: 100%;
    height: 100%;
}

.metodo p{
    width: 20%;
    text-align: center;
}