body{
  background-image: url("/static/resources/images/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
  height: 100vh;

}

.logo{
    display: flex;
    width: 350px;
    height: 350px;
    margin: auto;
}

.container{
    width: 80vw;
    display: flexbox;
    font-family: 'Roboto', sans-serif;
    color: white;
    justify-items: center;
    align-content: center;
    margin: auto;
}

.label-container{
    margin: 0;
    padding: 0;
    width: 25vw;
    justify-content: start;
}


.input{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    width: 25vw;
    height: 3vh;
    margin-bottom: 2vh;
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.8);
    border: none;
}

.input:focus{
outline: none;

}

.input:active{
    width: 25vw;
    height: 3vh;
    margin-bottom: 2vh;
}


.button{
    font-family: 'Roboto', sans-serif;
    color: white;
    border:none;
    background-color: #045D39;
    margin-top: 2vh;
    width: 10vw;
    height: 5vh;
    margin-right: 1vw;
    margin-left: 1vw;
    box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.2);
}

.button:hover{
    cursor: pointer;
}

.button:active{
    background-color: #034d2f;


}